<div class="row steps">
  <div class="col-sm-3">
    <figure class="step">
      <%= image_tag("talk.svg", :class => "step-img") %>
      <figcaption>
        <h3 class="step-title">CONVERSEMOS</h3>
        <p class="step-text">Queremos ayudarte, somos buenos escuchando y proponiendo</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure class="step">
      <%= image_tag("plan.svg", :class => "step-img") %>
      <figcaption>
        <h3 class="step-title">PLAN MAESTRO</h3>
        <p class="step-text">Construiremos un plan para alcanzar tus metas, tenemos experiencia.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure class="step">
      <%= image_tag("team.svg", :class => "step-img") %>
      <figcaption>
        <h3 class="step-title">EQUIPO</h3>
        <p class="step-text">Habilidad es el trabajo en equipo, nos alinearemos para tu prop칩sito</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure class="step">
      <%= image_tag("sale.svg", :class => "step-img") %>
      <figcaption>
        <h3 class="step-title">VENDER</h3>
        <p class="step-text">Te entregamos todas las herramientas para que tu idea se convierta en un negocio exitoso.</p>
      </figcaption>
    </figure>
  </div>
</div>

<div class="row areas">
  <h2 class="title-2">Deja en nuestras manos todas las 치reas de tu eCommerce</h2>
  <div class="col-sm-6">
    <figure class="area">
      <%= image_tag("ux.svg", :class => "area-img") %>
      <figcaption>
        <p class="area-text">Queremos ayudarte, somos buenos escuchando y proponiendo</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure class="area">
      <%= image_tag("dev.svg", :class => "area-img") %>
      <figcaption>
        <p class="area-text">Construiremos un plan para alcanzar tus metas, tenemos experiencia.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure class="area">
      <%= image_tag("seo.svg", :class => "area-img") %>
      <figcaption>
        <p class="area-text">Habilidad es el trabajo en equipo, nos alinearemos para tu prop칩sito</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure class="area">
      <%= image_tag("expert.svg", :class => "area-img") %>
      <figcaption>
        <p class="area-text">Te entregamos todas las herramientas para que tu idea se convierta en un negocio exitoso.</p>
      </figcaption>
    </figure>
  </div>

  <div class="col-sm-12 align-center">
    <div class="area-two">
      <%= image_tag("gear.svg", :class => "area-img") %>
      <h2>Somos expertos, nos ocupamos 100% de tu eCommerce.</h2>
      <%= image_tag("gear.svg", :class => "area-img") %>
    </div>
  </div>
</div>

<div class="row bajada">
  <h2>Somos especialistas en <span>e-commerce</span> de alto impacto.</h2>
  <p>Podemos hacer de tu idea, un comercio exitoso, encontrando y conect치ndote con tu mejor cliente.</p>
</div>


<div class="row bajada-left iso-background">
  <h2>Confiaron en nosotros.</h2>
  <div class="col-sm-2">
    <%= image_tag("ministerio.png", :class => "bajada-left-img") %>
  </div>
  <div class="col-sm-2">
    <%= image_tag("toolmania.png", :class => "bajada-left-img") %>
  </div>
  <div class="col-sm-2">
    <%= image_tag("nodriza.png", :class => "bajada-left-img") %>
  </div>
</div>

<div class="row bajada-left">
  <h2>Han confiado en nosotros.</h2>
</div>
<%= render "contacts/form"  %>
